<div class="flex-container">
<a href="/hello">Hello</a>
<a href="/hello?greeting=Ahoy">Ahoy</a>
<a href="/articles">Articles</a>
<a href="articles?type=json&amount=250">See Alot of Articles in JSON LOL</a>
</div>